.roboto-hero-main {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 48px;
    color: #f9faf8;
}

.roboto-hero-secondary {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #e5e7eb;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

a, .footer, .hero-button button {
    text-decoration: none;
    color: #F9FAF8;
}


.content {
    display: flex;
    flex-direction: column;

.header {
    display: flex;
    background-color: #1F2937;
}

.logo {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    size: 20px;
}

.header-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 12px;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.hero-button button {
    border: 0;
    background-color: #3882f6;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

.information {
    display: flex;
    flex-direction: column;

}
.information-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 50px;
}

.information-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    margin-bottom: 50px;
}

.information-grid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    width: 150px;
}

.information-grid-card img {
    border: 2px solid black;
    border-radius: 12px;
    width: 150px;
}

.testimonial {
    background-color: #E5E7EB;
}

.calltoaction {
    background-color: #3882f6;
}

.footer {
    background-color: #1F2937;
    text-align: center;
}