.roboto-hero-main {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 48px;
    color: #f9faf8;
}

.roboto-hero-secondary {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #e5e7eb;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

a,
.footer,
.hero-button button {
    text-decoration: none;
    color: #F9FAF8;
}


.content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding-left: 50px;
    padding-right: 50px;
}

.logo {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    size: 20px;
}

.header-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 12px;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: space-around;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    max-width: 800px;
}

.hero-button button {
    border: 0;
    background-color: #3882f6;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

.hero-logo {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.information {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.information-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 50px;
}

.information-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    margin-bottom: 50px;
}

.information-grid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    width: 150px;
}

.information-grid-card img {
    border: 1px solid black;
    border-radius: 12px;
    width: 150px;
}

.testimonial {
    background-color: #E5E7EB;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonial-text {
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    color: #1F2937;
}

.testimonial-name {
    text-align: right;
    font-weight: 900;
}

.calltoaction {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
    align-self: center;
    width: 1000px;
}

.calltoaction-text {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.calltoaction-button button {
    background-color: #3882f6;
    color: #F9FAF8;
    border: solid 1px #F9FAF8;
    border-radius: 8px;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    height: 60px;
}